* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.animado {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.mostrarArriba {
  -webkit-animation: mostrarArriba 1s;
          animation: mostrarArriba 1s;
}

@-webkit-keyframes .mostrarArriba {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes .mostrarArriba {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #928923;
}

.contenedorMaster {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.contenedorFotoIndexS {
  width: 100%;
}

.contenedorFotoIndexS img {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
}

header {
  width: 100%;
}

.titulo {
  margin-top: 30px;
}

.titulo1 {
  color: #D5c455;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.cuerpoTexto {
  margin: 0;
  padding: 0;
}

.texto {
  width: 80%;
  margin: auto;
  padding: 10px 20px;
}

.texto p {
  font-size: 15px;
  font-family: 'PT Serif Caption', serif;
  margin: 10px 0;
  text-align: justify;
}

i.fa-bars {
  color: #fff;
  font-size: 30px;
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider img {
  width: 100%;
}

.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.slider ul li {
  width: 100%;
  list-style: none;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.menu_bar {
  display: none;
}

.contenedor-menu {
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.527);
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.contenedor-menu ul {
  list-style: none;
}

.contenedor-menu .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-menu .menu li {
  font-size: 14px;
}

.contenedor-menu .menu li a {
  display: block;
  line-height: 25px;
}

.contenedor-menu .menu li a:hover {
  background: #1a95d5;
  color: #fff;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.contenedor-menu .menu .activado > a {
  background: #1a95d5;
  color: #fff;
}

.contenedor-menu .menu ul {
  display: block;
}

.contenedor-menu .menu ul li a {
  background: #424242;
  color: #e9e9e9;
}

.contenedor-menu .menu ul li a:hover {
  background: #1a95d5;
  color: #fff;
}

.contenedor-menu .menu a {
  text-decoration: none;
  color: #494949;
  padding: 15px 20px;
}

.contenedor-menu .menu a:hover {
  color: #fff;
}

.logoCopasu {
  width: 20%;
  margin: 0px auto;
  margin-bottom: 50px;
}

.logoCopasu img {
  width: 100%;
}

.contenedorIndexReserva {
  width: 90%;
  margin: auto;
}

.linea {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-bottom: 0.5px solid black;
  margin-bottom: 30px;
}

.contenedorForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
}

.cajaFotoForm {
  width: 45%;
  overflow: hidden;
  margin-right: 40px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 11px 5px -7px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 11px 5px -7px rgba(0, 0, 0, 0.33);
}

.cajaFotoForm img {
  background-size: contain;
}

.cajaForm {
  width: 45%;
}

form {
  font-size: 12px;
  display: inline-block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

label {
  line-height: 25px;
}

input, select {
  display: block;
}

input:hover, select:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 20px #4f9;
          box-shadow: 0 0 20px #4f9;
}

input {
  padding: 5px 0;
  color: green;
  width: 100%;
  margin: auto;
}

select {
  font-size: 1rem;
  padding: 5px;
}

.boton {
  margin: 5px 0;
  font-size: 14px;
  padding: 10px;
  border-radius: 3px;
}

.boton:hover {
  border: .5px solid red;
}

.botonReserva {
  background: rgba(255, 0, 0, 0.7);
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: auto;
}

.botonReserva a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bold;
}

.botonReserva:hover {
  background: rgba(128, 128, 128, 0.8);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.servicios {
  font-size: 13px;
  margin: 20px 0;
}

.servicios i {
  width: 30px;
}

.contenedorFotosH {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cajaFotoH {
  margin: 2px;
  width: 180px;
}

.cajaFotoH img {
  width: 100%;
}

.cajaFotoH:hover {
  -webkit-box-shadow: 0 0 10px 3px gray;
          box-shadow: 0 0 10px 3px gray;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.texto.textoHabitacion p {
  font-family: 'Montserrat', sans-serif;
}

.cajaClientes {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logoCliente {
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px black solid;
  cursor: pointer;
}

.logoCliente:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mapa {
  width: 100%;
  margin: 100px auto;
  overflow: hidden;
  padding: 20px;
  border: 1px black dotted;
}

.cuadroContactanos {
  width: 90%;
  margin: auto;
}

.cuerpoContactanos p {
  margin-bottom: 10px;
}

footer {
  clear: both;
  display: block;
  width: 70%;
  margin: auto;
  height: 100px;
  text-align: center;
}

p.footer {
  color: white;
  text-align: center;
  font-size: 0.7rem;
}

@media screen and (max-width: 878px) {
  .menu_bar {
    display: block;
    width: 100%;
    z-index: 11;
  }
  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
  }
  .menu_bar span {
    float: right;
  }
  .mapa {
    width: 80%;
  }
  .contenedor-menu {
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
    background: rgba(43, 70, 13, 0.8);
  }
  .contenedor-menu .menu {
    display: block;
  }
  .contenedor-menu .menu li {
    border-bottom: white 1px solid;
  }
  .contenedor-menu .menu li a {
    color: #fff;
    line-height: 50px;
  }
}

@media screen and (max-width: 470px) {
  .logoCopasu {
    width: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
  }
  .logoCopasu img {
    width: 100%;
  }
  .contenedorMaster {
    width: 98%;
  }
  .cajaFotoH {
    width: 40%;
  }
  .mapa {
    width: 80%;
  }
  .texto {
    width: 100%;
  }
  .cajaFotoForm {
    display: none;
  }
  .logoCliente {
    margin: 20px auto;
    width: 50%;
    padding: 10px;
  }
  .logoCliente img {
    width: 100%;
  }
}
/*# sourceMappingURL=estilosMaster.css.map */