.mapa{
    width:700px;
    margin: 100px auto;
    overflow: hidden;
    padding: 20px;
     border: 1px black dotted;
}

.cuadroContactanos{

    width: 500px;
    margin: auto;
}

.cuerpoContactanos p{
    margin-bottom: 10px;;
}