
footer{
    clear: both;
    display: block;
    width: 70%;
    margin:  auto;
    height: 100px;
    text-align: center;
  }

p.footer{
    color:white;
    text-align: center;
    font-size: 0.7rem;
  }
