

.contenedorFotoIndexS{
    width:100%;
    img{
        width: 100%;
    }
}



.logoCopasu{
    width: 20%;
    margin: 50px auto;
 
    img{
        width:100%;
    }
}

.contenedorIndexReserva{
    width:90%;
    margin:auto;
}




.linea{
    width:80%;
    margin: auto;
    margin-top:30px;
    border-bottom:0.5px solid black;
    margin-bottom: 30px;
}







