body class="lucuma"{
    background: #3b3b3b;
    background-image: url("/img/construccionBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
        
}


.contenedorMaster{
    width:60%;
    margin:auto;
    margin-top:50px;

    text-align: center;

    color: white;
    font-family: 'Roboto Slab', serif;

    background-color: rgba($color: #000000, $alpha: 0.3);
    padding: 30px;
    

}

.titulo{
    font-size: 30px;
    font-weight: bold;

    margin-bottom: 20px;
}

.parrafo{

    margin-bottom: 30px;
}

.contenedorRedes{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.redesCaja{
    width:30px;
    border: 0.5px solid #fff;
    padding: 5px;
    

    a{
        color:white;
    }
}

i{
    font-size: 30px;
}

.contenedorFooter{
    margin-top: 50px;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 10px;
}

@media screen and (max-width:450px) {
    body class="lucuma"{
 
        background-image: url("/img/construccionBannerCel.jpg");

    }
}